<!-- Form made for the advisor to choose the team for each project -->

<form id="advisorpanel" name="advisorpanel" role="form">

    <script cam-script type="text/form-script">
        // load variables
        camForm.on('form-loaded', function() {
            // tell the form SDK to fetch the variable named 'customer'
            camForm.variableManager.fetchVariable('ADVISOR_PROJECTS');
        });

        camForm.on('variables-fetched', function() {
            // work with the variable (bind it to the current AngularJS $scope)
            $scope.projects_students = camForm.variableManager.variableValue('ADVISOR_PROJECTS');
        });
    </script>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Project Title</th>
            <th>Applications</th>
        </tr>
        </thead>
        <tbody ng-repeat="(key, value) in projects_students">
        <tr>
            <td>{{key}}</td>
            <td>
                <div class="form-group">
                    <select class="select">
                        <option ng-repeat="v in value">{{v.toString().replace("[\"", "").replace("\"]", "")}}</option>
                    </select>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

</form>