<!-- Form made for the advisor to choose the team for each project -->

<form id="advisorpanel" name="advisorpanel" role="form">

    <script cam-script type="text/form-script">
        // load variables
        camForm.on('form-loaded', function() {
            // tell the form SDK to fetch the variable named 'customer'
            camForm.variableManager.fetchVariable('ADVISOR_PROJECTS');
        });

        camForm.on('variables-fetched', function() {
            // work with the variable (bind it to the current AngularJS $scope)
            $scope.projects_students = camForm.variableManager.variableValue('ADVISOR_PROJECTS');
        });
    </script>

    <div class="container-fluid row col-md-10">
        <h3 class="h3">Projects List</h3>
        <p>Below is the list of all available projects, with their names, number of students and the advisor for the project.</p>
    </div>

    <br>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Project Title</th>
            <th>Applications</th>
        </tr>
        </thead>
        <tbody ng-repeat="(key, value) in projects_students">
        <tr>
            <td>{{key}}</td>
            <td>
                <div class="form-group">
                    <select class="select" required="1">
                        <option value="" selected disabled hidden>--- Select an Option ---</option>
                        <option ng-repeat="v in value" value="{{v}}">{{v.toString().replace("[\"", "").replace("\"]", "")}}</option>
                    </select>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="container-fluid row">
        <div class="col-md-5"></div>
        <div class="container-fluid col-md-4 form-actions">
            <button type="submit" class="btn btn-primary col-md-5"
                    ng-click="complete()" ng-disabled="disableCompleteButton()">Submit</button>
        </div>
    </div>

</form>