<!-- Form to view all the projects available -->

<form role="form">

    <script cam-script type="text/form-script">
        // script to load variables and the make a few operations to read them correctly
        camForm.on('form-loaded', function() {
            $scope.contextPath = camForm.formUrl.split("/forms/")[0];
            $scope.taskId = camForm.taskId;
        });
        camForm.on('form-loaded', function() {
            // tell the form SDK to fetch the variable named 'customer'
            camForm.variableManager.fetchVariable('AVAILABLE_PROJECTS');
        });
      camForm.on('variables-fetched', function() {
        // work with the variable (bind it to the current AngularJS $scope)
        var projSTR = camForm.variableManager.variableValue('AVAILABLE_PROJECTS');
        // transform the strings array into JSON
        var i = 0;
        var l = projSTR.length;
        var projs = [];
        while (i < l) {
            var jsonobj = JSON.parse(projSTR[i]);
            projs.push(jsonobj);
            i++;
        }
        $scope.projects = [...projs];
      });
    </script>
    <div class="container-fluid row">
        <div class="container-fluid row col-md-10">
            <h3 class="h3">Projects List</h3>
            <p>Below is the list of all available projects, with their names, number of students and the advisor for the project.</p>
        </div>
        <div class="container-fluid row col-md-2 form-actions">
            <br>
            <button type="submit" class="btn btn-primary"
                    ng-click="complete()" ng-disabled="disableCompleteButton()">Close</button>
        </div>
    </div>
    <br>
    <div class="container-fluid">
        <table class="table table-striped">
            <thead>
            <tr>
                <td>Project Name</td>
                <td>Supervisor</td>
                <td>Number of members per team</td>
                <td></td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="proj in projects">
                <td>{{proj.projectname}}</td>
                <td>{{proj.advisor}}</td>
                <td class="text-center">{{proj.studentsnumber}}</td>
                <td>
                    <a class="btn btn-primary"
                       href="{{contextPath}}/file-variable?taskId={{taskId}}&variableName=document"
                       target="_blank"><i class="glyphicon glyphicon-download"></i> Download PDF</a>
                </td>
            </tr>
            </tbody>
        </table>

    </div>

</form>
