<!-- Form made for the student to choose the projects they want along with their team members -->

<form id="choices" name="choices" role="form" xmlns="http://www.w3.org/1999/html">

    <script cam-script type="text/form-script">
        // load variables and some operation to read them as desired
        camForm.on('form-loaded', function() {
            // tell the form SDK to fetch the variable named 'customer'
            camForm.variableManager.fetchVariable('AVAILABLE_PROJECTS');
        });

        camForm.on('variables-fetched', function() {
            // work with the variable (bind it to the current AngularJS $scope)
            var projSTR = camForm.variableManager.variableValue('AVAILABLE_PROJECTS');
            // transform the strings array into JSON
            var i = 0;
            var l = projSTR.length;
            var projs = [];
            while (i < l) {
                var jsonobj = JSON.parse(projSTR[i]);
                projs.push(jsonobj);
                i++;
            }
            //console.log(projs);
            $scope.projects = [...projs];
        });
    </script>

    <div class="container-fluid">
        <h3 class="h3">Project Selection</h3>
        <p class="text-left">
            Please enter your team members, one in each field, and the select the two projects that you wish to apply
            to.
        </p>
        <br>
        <p class="text-left">
            <strong>
                <mark>Important Note:</mark>
            </strong>Each project has a specific number of students that can apply to it. You can put 4 names if you
            wish but
            the system will only register the specific amount of students specifies for each project.
        </p>
        <br>
    </div>

    <div class="row form-group d-block p-2">
        <label class="col-md-4 control-label text-right" for="name1">Member 1</label>
        <div class="col-md-4">
            <input cam-variable-name="name1" cam-variable-type="String"
                   class="form-control input-md" id="name1"
                   name="name1" type="text"
            >
        </div>
    </div>

    <div class="row form-group">
        <label class="col-md-4 control-label text-right" for="name2">Member 2</label>
        <div class="col-md-4">
            <input cam-variable-name="name2" cam-variable-type="String"
                   class="form-control input-md" id="name2"
                   name="name2" type="text"
            >
        </div>
    </div>

    <div class="row form-group">
        <label class="col-md-4 control-label text-right" for="name3">Member 3</label>
        <div class="col-md-4">
            <input cam-variable-name="name3" cam-variable-type="String"
                   class="form-control input-md" id="name3"
                   name="name3" type="text"
            >
        </div>
    </div>

    <div class="row form-group">
        <label class="col-md-4 control-label text-right" for="name4">Member 4</label>
        <div class="col-md-4">
            <input cam-variable-name="name4" cam-variable-type="String"
                   class="form-control input-md" id="name4"
                   name="name4" type="text"
            >
        </div>
    </div>

    <div class="row form-group">
        <label class="col-md-4 control-label text-right" for="choice1">Project Choice 1</label>
        <div class="col-md-4">
            <select
                    cam-variable-name="studentchoice1"
                    cam-variable-type="Integer"
                    class="form-control"
                    id="choice1"
                    name="choice1"
            >
                <option ng-repeat="prj in projects" value="{{prj.projectid}}">{{prj.projectname}}</option>
            </select>
        </div>
    </div>

    <div class="row form-group">
        <label class="col-md-4 control-label text-right" for="choice2">Project Choice 2</label>
        <div class="col-md-4">
            <select cam-variable-name="studentchoice2" cam-variable-type="Integer" class="form-control"
                    id="choice2"
                    name="choice2"
            >
                <option ng-repeat="prj in projects" value="{{prj.projectid}}">{{prj.projectname}}</option>
            </select>
        </div>
    </div>

    <div class="container-fluid row">
        <div class="container-fluid col-md-4 col-md-offset-5 form-actions">
            <button type="submit" class="btn btn-primary col-md-5"
                    ng-click="complete()" ng-disabled="disableCompleteButton()">Submit</button>
        </div>
    </div>

</form>