<form role="form">

    <script cam-script type="text/form-script">
      camForm.on('form-loaded', function() {
        // tell the form SDK to fetch the variable named 'customer'
        camForm.variableManager.fetchVariable('AVAILABLE_PROJECTS');

      });
      camForm.on('variables-fetched', function() {
        // work with the variable (bind it to the current AngularJS $scope)
        $scope.projects = camForm.variableManager.variableValue('AVAILABLE_PROJECTS');
        //console.log(camForm.variableManager.variableValue('AVAILABLE_PROJECTS'));
      });
    </script>

    <div class="row form-group">
        <label class="col-md-4 control-label" for="name1">Member 1</label>
        <div class="col-md-4">
            <input id="name1" name="name1" type="text" placeholder="" class="form-control input-md">
        </div>
    </div>

    <div class="row form-group">
        <label class="col-md-4 control-label" for="name2">Member 2</label>
        <div class="col-md-4">
            <input id="name2" name="name2" type="text" class="form-control input-md">
        </div>
    </div>

    <div class="row form-group">
        <label class="col-md-4 control-label" for="name3">Member 3</label>
        <div class="col-md-4">
            <input id="name3" name="name3" type="text" class="form-control input-md">
        </div>
    </div>

    <div class="row form-group">
        <label class="col-md-4 control-label" for="name4">Member 4</label>
        <div class="col-md-4">
            <input id="name4" name="name4" type="text" class="form-control input-md">
        </div>
    </div>

    <div class="row form-group">
        <label class="col-md-4 control-label" for="choice1">Project Choice 1</label>
        <div class="col-md-4">
            <select
                    id="choice1"
                    name="choice1"
                    class="form-control"
                    cam-variable-name="studentchoice1"
                    cam-variable-type="String"
            >
                <option ng-repeat="prj in projects" value="{{prj}}">{{prj}}</option>
            </select>
        </div>
    </div>

    <div class="row form-group">
        <label class="col-md-4 control-label" for="choice2">Project Choice 2</label>
        <div class="col-md-4">
            <select id="choice2" name="choice2" class="form-control"
                    cam-variable-name="studentchoice2"
                    cam-variable-type="String"
            >
                <option ng-repeat="prj in projects" value="{{prj}}">{{prj}}</option>
            </select>
        </div>
    </div>

</form>